<head>
    <title>{{site.author.name}} | GitHub-Pages</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <link href="{{ '/assets/css/pygments.css' | relative_url }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap" rel="stylesheet">
</head>
    