<nav id="navigation">
    <div id="navigation-logo">
        <a href="{{ '/' | relative_url }}" title="Home" style="background-image:url('/assets/images/logo/logo-home.png');"></a>
        <a id="menu-button" title="Options"></a>
    </div>
    <div id="navigation-url">
        <a href="https://github.com/GKO95" title="GitHub" style="background-image:url('/assets/images/logo/logo-github.png');"></a>
        <a href="https://www.linkedin.com/in/gihwan-ko" title="LinkedIn" style="background-image:url('/assets/images/logo/logo-linkedin.png');"></a>
        <a href="https://blog.naver.com/acft" title="Naver" style="background-image:url('/assets/images/logo/logo-naver.png');"></a>   
    </div>
</nav>