<nav id="navigation">
    <div id="navigation-logo">
        <a href="{{ '/' | relative_url }}"><img src="/assets/images/logo/logo-ghpages.png" width="38px" height="38px"></a>
        <a id="menu-button"><img src="/assets/images/logo/logo-menu.png" width="38px" height="38px"></a>
    </div>
    <div id="navigation-url">
        <a href="https://github.com/GKO95"><img src="/assets/images/logo/logo-github.png" width="32px" height="32px"></a>
        <a href="https://blog.naver.com/acft"><img src="/assets/images/logo/logo-naver.png" width="32px" height="32px"></a>   
    </div>
</nav>