<nav id="navigation">
    <div id="navigation-logo">
        <a href="{{ '/' | relative_url }}" data-source="https://iconmonstr.com/home-1-png/" style="background-image:url('/assets/images/logo/logo-home.png');"></a>
        <a id="menu-button"></a>
    </div>
    <div id="navigation-url">
        <a href="https://github.com/GKO95" style="background-image:url('/assets/images/logo/logo-github.png');"></a>
        <a href="https://www.linkedin.com/in/gihwan-ko" style="background-image:url('/assets/images/logo/logo-linkedin.png');"></a>
        <a href="https://blog.naver.com/acft" style="background-image:url('/assets/images/logo/logo-naver.png');"></a>   
    </div>
</nav>