{% if site.comment-read %}
<!-- Load Required 3rd-Party Scripts. We use the following: 
    * jquery for DOM manipulation
    * jquery-csv for parsing Google Sheets CSV data to JSON
    * validator for escaping user-entered comments to prevent malicious code input in comments

    Make sure to update these to the latest versions every once in a while.
-->
<script 
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js" 
	integrity="sha512-Y8iWYJDo6HiTo5xtml1g4QqHtl/PO1w+dmUpQfQSOTqKNsMhExfyPN2ncNAe9JuJUSKzwK/b6oaNPop4MXzkwg==" 
	crossorigin="anonymous"></script>
<script 
	src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.1.1/validator.min.js" 
	integrity="sha512-rVYlbsnsxljzvf4sgKzI6ncbNKKxupFhoQ/9ptW7R5fhKE9wQevsfUAZEbJ6xl+VyaiGm3lAKChPLoV/VuaZJA==" 
	crossorigin="anonymous"></script>

<!-- Our own JS starts here-->
<script>
	var thisPageUrl = "{{ include.url }}";
	var visibleComments = [];
	var commentLang = (0b0010 & parseInt(window.localStorage.getItem("CODE"))) >> 1

	//Format the comment's date to our desired format
	function formatDate(stringDate) {
		let date = new Date(stringDate)
		let dateOptions = { year: 'numeric', month: 'long', day: 'numeric'};
		let timeOptions = { hour: 'numeric', minute: 'numeric' };
		return `${date.toLocaleDateString("ko-KR", dateOptions)} - ${date.toLocaleTimeString("ko-KR", timeOptions)}`
	}

	//Called when the comments have been loaded or relaoded.
	//Comments that we have already displayed on the page will be ignored
	function displayComments(comments) {
		//if we have no comments, show the 'no comments available' section
		if (comments == null || comments === "") {
			if (visibleComments.length == 0 && $("#no-comments").length == 0) {
				let newItem = $(`
					<div id="no-comments" class="comment-info" style="display: none; padding-top: 1em;">
						<span>${commentLang == 1 ? "There are currently no comments on this article.":"해당 게시글에는 아직 댓글이 없습니다."}</span>
					</div>
				`)
				$("#comment-section").append(newItem)
				$(`#no-comments`).slideDown("slow")
			}
			return;
		}
		else {
			$("#no-comments").remove();
		}

		//Add headers so json objects are named properly
		comments = `timestamp,name,comment,isHidden\n${comments}`
    	commentList = $.csv.toObjects(comments)
    	console.log(commentList)

		//append button for viewing comments
		if ($("#comment-view").length == 0 && $("#comment-hide").length == 0) {
			let newItem = $(`
				<div id="comment-view">
					<button>${commentLang == 1 ? "View comments":"댓글 보기"}</button>
				</div>
			`).click(function() {
				this.remove()
				$(".comment-item").each(function(index) {
					$(this).fadeIn()
				});
				$(`#comment-section`).append($(`
					<div id="comment-hide">
						<button>${commentLang == 1 ? "Hide comments":"댓글 숨기기"}</button>
					</div>
				`).click(function() {
					this.remove()
					$(".comment-item").each(function(index) {
						$(this).hide()
					});
					$(`#comment-section`).prepend(newItem)
				}));
			});
			$("#comment-section").append(newItem)
			$(`#comment-view`).slideDown("slow")
		}
		
    	//iterate over each comment that came from Google Sheets
    	commentList.forEach(function(element) {
    		//don't re-add existing comments
    		if (visibleComments.includes(JSON.stringify(element))) {
    			return;
    		}

    		//don't add the hidden comments
    		if (element.isHidden === "TRUE") {
    			return;
    		}

    		//Create the new item using HTML and append it to the user-visible comment section
    		let newItem = $(`
    			<div class="comment-item">
    				<p class="commenter-name">${validator.escape(element.name)}<small>${formatDate(element.timestamp)}</small></p>
    				<section>
      					<p>${validator.escape(element.comment)}</p>
    				</section>
  				</div>
    		`).hide()
			$("#comment-section").prepend(newItem)
			if ($("#comment-view").length == 0 && $("#comment-hide").length > 0) {
				newItem.fadeIn()
			}
    		visibleComments.push(JSON.stringify(element))
    	});
	}

	//Calls to the Google Sheets gviz API to load the comment data
	//Since we are storing comments for all of our blog articles in one sheet, we filter
	//by page URL.
	function reloadComments() {
		//Use SQL in the gviz URL to load the correct csv.
		//In this implementation, columns are mapped to the following:
		//	A - timestamp, the time the comment was left
		//	B - page url, the page the comment was left on
		//	C - name, the text left in the comment name field
		//	D - comment, the text left in the comment field
		//	E - isAuthor, boolean indicating if the comment was left by the actual author
		let sqlStatement = encodeURIComponent(`SELECT A, C, D, E WHERE B = '${thisPageUrl}'`)
		fetch(`{{ site.comment-read }}/gviz/tq?tqx=out:csv&sheet=comments&tq=${sqlStatement}&headers=0`)
		.then(response => response.text())
		.then(response => displayComments(response))
	}

	//Reload the comments when the page first loads
	reloadComments()

	//encodes the form data for http transport
	const encodeFormData = (data) => {
	    return Object.keys(data)
	        .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(data[key]))
	        .join('&');
	}

	//Posts a comment
	function postComment() {
		let username = $("#comment-name").val()
		let comment = $("#comment-comment").val()

		fetch(`{{ site.comment-post }}/formResponse`, {
		  method: 'POST',
		  mode: 'no-cors',
		  headers: {
		    "Content-Type": "application/x-www-form-urlencoded"
		  },
		  body: encodeFormData({
		  	"{{ site.comment-post-fields[0] }}" : thisPageUrl,
		  	"{{ site.comment-post-fields[1] }}" : username,
		  	"{{ site.comment-post-fields[2] }}" : comment
		  })
		}).then(response => {
			$("#comment-name").val('')
			$("#comment-comment").val('')
			reloadComments()
		})
		.catch(error => {console.log(error)})

		return false
	}
</script>
<!--
	HTML for displaying the actual comment section.
	It has a state for oth when the article has comments and when it does not.
-->
<div id="comment-main">
	{%- if page.tags.size > 0 -%}
	<section id="comment-tags">
		<span>Tags:&nbsp;</span>
		{%- for tag in page.tags -%}
		<a href="/blog/#{{tag}}">
			<strong><code class="tag">#{{ tag }}</code></strong>
		</a>
		{%- endfor -%}		
	</section>
	{%- endif -%}

	<section id="comment-header">
		<h4>Comments</h4>
	</section>

	<div class="comments">
		<div class="comment-info">
			<p style="font-style: italic">Any inappropriate or controversial comment may be removed by the administrator without warning.</p>
		</div>	
		<div class="comment-form">
			<form onsubmit="return postComment()" id="comment-form" autocomplete="off">
				<section id="comment-form-header">
					<input id="comment-name" name="username" type="text" placeholder="Name" required="" value="" minlength="3">
					<input id="comment-submit" type="submit" value="Post">
				</section>
				<textarea id="comment-comment" name="comment" placeholder="Comment" required=""></textarea>
			</form>
		</div>
	</div>

	<div id="comment-section" class="comments">
	</div>

</div>

<!-- 
	Styling information.
	This might typically be in an scss file but is added here so only a single
	file needs to be added to a project trying to implement this feature.
-->
<style>
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
#comment-tags {
	text-align: right;
	margin-block-start: 1em;
	margin-block-end: 1em;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
#comment-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#comment-header h4 {
	margin-block-start: 0.8em;
	margin-block-end: 0.4em;
}
#comment-header span {
	font-size: smaller;
	align-self: flex-end;
	padding-bottom: 4px;
}
#comment-section {
	border-top: 0.5px none #e5e5e5;
}
#comment-view {
	text-align: center;
	margin-block-start: 1em;
	margin-block-end: 1em;
}
#comment-hide {
	text-align: center;
	margin-block-end: 1em;
}
#comment-view button, #comment-hide button {
	text-align: center;
	padding: 0.2em;
	background: rgb(80,80,80);
	border-radius: 0.4em;
	border: none;
	width: 95%;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
}
.comment-item {
	position: relative;
	padding: 0.5em 2.5em;
	background: rgb(64, 64, 64);
	font-family: "Source Sans Pro", sans-serif;
	width: calc((100% - 2.5em * 2) * 0.95);
	margin: 1em auto;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
.comment-item:after {
	content: "";
	position: relative;
	display: block;
	clear: both;
}
.comment-item p {
	line-height: 1.6;
}
.comment-item small {
	padding-left: 0.7em;
	color: #999;
	font-size: 0.8em;
}
.commenter-name {
	color: #5b9eb3;
	text-decoration: none;
	font-size: 1em;
	font-weight: 700;
}
.commenter-name strong {
	color: #e91e63;
	text-decoration: none;
	font-size: 1em;
	font-weight: 700;
}
.comments {
	border-top: 0.5px solid #e5e5e5;
	position: relative;
}
.comment-form {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	font-family: "Source Sans Pro", sans-serif;
}
.comment-form section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
}
.comment-form section input[type='text'] {
	width: 50%;
	height: 20px;
}
.comment-form section input[type='submit'] {
	border: 0;
	border-radius: 8px;
	padding: 10px 10px;
	background: rgb(80,80,80);
	color: #fff;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	text-transform: uppercase;
	width: 25%;
	outline-style: none;
	cursor: pointer;
}
.comment-form textarea {
	width: calc(100% - 10px * 2);
	height: 80px;
	resize: vertical;
	min-height: 80px;
}
.comment-form input[type='text'], .comment-form textarea {
	padding: 10px;
	border: 0;
	border-radius: 8px;
	background: #f7f7f7;
	font-family: "Source Sans Pro", sans-serif;
}
.comment-form section input[type='text']::-webkit-input-placeholder, .comment-form textarea::-webkit-input-placeholder {
	font-family: "Source Sans Pro", sans-serif;
}
.comment-form section input[type='text']::-moz-placeholder, .comment-form textarea::-moz-placeholder {
	font-family: "Source Sans Pro", sans-serif;
}
.comment-form section input[type='text']:-ms-input-placeholder, .comment-form textarea:-ms-input-placeholder {
	font-family: "Source Sans Pro", sans-serif;
}
.comment-form section input[type='text']::-ms-input-placeholder, .comment-form textarea::-ms-input-placeholder {
	font-family: "Source Sans Pro", sans-serif;
}
.comment-form section input[type='text']::placeholder, .comment-form ul li textarea::placeholder {
	font-family: "Source Sans Pro", sans-serif;
}
.comment-form section input[type='text']:focus, .comment-form ul li textarea:focus {
	background: #fff;
	font-family: "Source Sans Pro", sans-serif;
}
</style>
{% endif %}