<head>
    <title>{{site.author.name}} | GitHub-Pages</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/theme.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/pygments.css' | relative_url }}" >
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
    