<head>
    <title>{{site.author.name}} | {% unless page.title == nil %}{{page.title}}{% else %}GitHub-Pages{% endunless %}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;900&display=swap" rel="stylesheet">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- JQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- KaTeX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css" integrity="sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js" integrity="sha384-YNHdsYkH6gMx9y3mRkmcJ2mFUjTd0qNQQvY9VYZgQd7DcN7env35GzlmFaZ23JGp" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
              delimiters: [
                  {left: '$$', right: '$$', display: true},
                  {left: '$', right: '$', display: false},
                  {left: '\\(', right: '\\)', display: false},
                  {left: "\\begin{equation}", right: "\\end{equation}", display: true},
                  {left: "\\begin{align}", right: "\\end{align}", display: true},
                  {left: "\\begin{alignat}", right: "\\end{alignat}", display: true},
                  {left: "\\begin{gather}", right: "\\end{gather}", display: true},
                  {left: "\\begin{CD}", right: "\\end{CD}", display: true},
                  {left: '\\[', right: '\\]', display: true}
              ],
              throwOnError : false,
              fleqn : true,
            });
        });
    </script>
    <meta property="og:title" content="{{site.author.name}} | {% unless page.title == nil %}{{page.title}}{% else %}GitHub-Pages{% endunless %}"/>
    <meta property="og:image" content="/images/icons/icon-gko95.png"/>
    <meta property="og:url" content="{{site.url}}{% unless page.title == nil %}{{page.url}}{% endunless %}"/>
    <meta property="og:description" content="{% unless page.title == nil %}{{page.description}}{% else %}{{site.description}}{% endunless %}"/>
</head>
