<header id="home-header">
    
    <nav id="home-nav">
        <div id="home-logo">
            <a href="{{ '/' | relative_url }}"><img src="/assets/images/logo-ghpages.png" width="38px" height="38px"></a>
        </div>
        <div id="home-url">
            <!--<a href="{{ '/' | relative_url }}"><img src="/assets/images/logo-KOR.png" width="32px" height="32px"></a>-->
            <a href="https://github.com/GKO95"><img src="/assets/images/logo-github.png" width="32px" height="32px"></a>
            <a href="https://blog.naver.com/acft"><img src="/assets/images/logo-naver.png" width="32px" height="32px"></a>   
        </div>
    </nav>
    <div id="home-title">
        <a href="{{ '/' | relative_url }}"> {{ site.github_username | escape }} </a>
    </div>

</header>