<header id="home-header">
        
</header>

<!--
<header class="home-header"> 
    <nav class="home-nav">
        <div class="home-logo">
            <a href="{{ '/' | relative_url }}"><img src="/assets/images/logo-ghpages.png" width="38px" height="38px"></a>
        </div>
        <div class="home-tabs">
            <a href="{{ '/about' }}">ABOUT</a>
        </div>
    </nav>
    <div class="home-title">
        <a href="{{ '/' | relative_url }}"> {{ site.github_username | escape }} </a>
    </div>
</header>
-->
