<nav>
  <div class="nav-panel" id="nav-left">
    <a class="nav-button" id="nav-home" title="Home" tabindex="-1" href="{{ '/' | relative_url }}"></a>
    <a class="nav-button" id="nav-lang" title="Switch Language" tabindex="-1"></a>
  </div>
  {% if page.title != nil %}
  <div class="nav-panel" id="nav-center">
    {% if page.category %}{{ page.category}} | {% endif %}{{ page.title }}
  </div>
  {% endif %}
  <div class="nav-panel" id="nav-right">
    <a class="nav-button" id="nav-theme" title="Switch Theme" tabindex="-1"></a>
    <a class="nav-button" id="nav-github" title="GitHub" tabindex="-1" href="https://github.com/GKO95"></a>
  </div>
</nav>