header {
    background-color: steelblue;
}

body {
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

footer {
    display: block;
    background-color: steelblue;
}