@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMonoNL-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant-ligatures: normal;
}

body {
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 600px;
    min-width: 800px;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: large;
    letter-spacing: 0px;
}

nav {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

main, footer {
    visibility: hidden;
}

h1, h2, h3, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

pre {
    font-family: $MONOSPACE;
    text-rendering: geometricPrecision;
}   

code {
    font-family: $MONOSPACE;
    border-radius: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

blockquote {
    border-left-width: 4px;
    border-left-style: solid;

    padding: 2px 16px;
}

blockquote a {
    color: rgb(255,255,255);
}

table {
    width: 100%;
    border-style: solid;
    border-color: rgb(192,192,192);
    border-width: 1px;

    border-collapse: collapse;
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;   
    margin-inline-end: 0px;
}

th {
    border: solid rgb(192,192,192) 1px;
    border-bottom: double rgb(192,192,192) 4px;
    padding: 0.2em;
}

td {
    border: solid rgb(192,192,192) 1px;
    padding: 0.4em;
}

/* Scrollbar */
::-webkit-scrollbar {
    //display: none;
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-track {       // track
    background: rgb(64, 64, 64);
}
  
::-webkit-scrollbar-thumb {       // thumb
    background: rgb(128, 128, 128);
    border-radius: 1em;
}
  
::-webkit-scrollbar-thumb:hover { // thumb::hover
    //background: black;
}
