body {
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

/* Scrollbar */
::-webkit-scrollbar {               // width
    display: none;
    width: 10px;
}
  
::-webkit-scrollbar-track {       // track
    background: #555;
}
  
::-webkit-scrollbar-thumb {       // thumb
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover { // thumb::hover
    background: black;
}