#blog-sub {
    max-width: 1600px;
    margin: {
        left: auto;
        right: auto;
    }
    padding: 8px 16px;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#blog-tags {
    display: flex;
    flex-flow: row wrap;
    padding: {
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    li {
        display: block;
        font-size: 28px;
        margin: {
            left: 8px;
            right: 8px;
        }
        width: fit-content;
        
        code.blog-tag {
            cursor: pointer;
        }
    }   
}

#blog-content {
    max-width: 1600px;
    margin: {
        left: auto;
        right: auto;
    }
    padding: 8px 16px;
}

#blog-posts {
    padding-left: 0px;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    li {
        list-style: none;
        border: {
            width: 1px;
            top-style: solid;
            bottom-style: solid;
        }
        margin: {
            top: 12px;
            bottom: 12px;
        }
        padding: {
            left: 16px;
            right: 16px;
            top: 8px;
            bottom: 8px;
        }

        a.blog-post {
            font-size: 21px;
        }
    }
}

html {

    #blog-posts {

        li {
            background-color: #F8F8F8;
            border-color: black;
        }
    }

&:not(.style-scope)[dark=true] {

    #blog-posts {

        li {
            background-color: #1A1A1A;
            border-color: white;
        }
    }
    
}}