#home-notice {
    text-align: center;
    max-width: 1600px;
    margin: {
        left: auto;
        right: auto;
        bottom: 16px;
    }
    padding: 8px 16px;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    span {
        font-family: $MONOSPACE;
        position: relative;
        float: right;
        height: 12px;
        width: 100%;
        text-align: end;
        display: block;
        font: {
            size: 9px;
            style: italic;
        }
    }
    a {
        display: inline-block;
        position: relative;
        padding: 12px 0;
        font: {
            size: 18px;
            weight: bold;
        }
    }
}

#home-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
    padding: 8px;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    ul, ol {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
    }
}

.home-category {
    margin: {
        left: 4px;
        right: 4px;
    }
    padding: {
        top: 16px;
        bottom: 16px;
    }
    font: {
        size: large;
    }
}

.home-category-header {
    text-align: center;
    font: {
        size: 24px;
        weight: bold;
    }
    border: {
        top: {
            style: solid;
            width: 1px;
        }
        bottom: {
            style: solid;
            width: 1px;
        }
    }
    margin: {
        bottom: 8px;
    }
}

.home-category-list {
    text-align: center;
    border: {
        width: 2px;
        style: solid;
    }
    margin: {
        top: 2px;
        bottom: 2px;
    }
    padding: {
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
    }

    a {
        display: block;
    }
}

html {
    #home-notice {
        background-color: white;
        color: black;
        a { color: black; }
    }
    .home-category-list {
        border-color: rgba(0, 0, 0, 0.1);
        background: #FAFAFA;
    }
    .home-category-header {
        border-top-color: black;
        border-bottom-color: black;
    }
    
&:not(.style-scope)[dark=true] {
    #home-notice {
        background-color: #202020;
        color: white;
        a { color: white; }
    }
    .home-category-list {
        border-color: rgba(0, 0, 0, 0.2);
        background: #1C1C1C;
    }
    .home-category-header {
        border-top-color: rgb(96, 96, 96);
        border-bottom-color: rgb(96, 96, 96);
    }
}}
