//================================
// HOME
//================================
#home header {
    background-color: inherit;
    height: 25vh;
    min-height: 160px;
    max-height: 256px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow: hidden;
}

#home header #navigation{   
    position: static;
    width: auto;
}

#home header #title {
    display: block;
    font-size: 64px;

    margin-top:auto;
    margin-bottom:auto;

    text-align: center;

    font-weight: bold;
    font-family: monospace;
}

#home header #title a {
    border-style: solid;
    border-width: 8px;
    font-size: 85.5px;

    color: inherit;
    font-weight: bold;
    font-family: monospace;

    // Disable selection.
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    // Disable hyperlink underline.
    text-decoration: none;

    // Letter affects right padding.
    letter-spacing: 10px;
    padding: 0px 0px 0px 10px;
}

#home-main {
    position: relative;
    background-color: inherit;
}

//================================
// HOME-DIVISION
//================================
#home-main #home-upper {
    overflow: hidden;
    max-height: 40%;

    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

#home-main #home-lower {
    overflow: auto;
    min-height: 60%;

    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}

//================================
// HOME-REGISTER
//================================
#home-register {
    display: block;
    position: relative;

    margin-top: 8px;
    margin-bottom: 8px;

    padding-top: 8px;
    padding-bottom: 8px;
}

.home-shift {
    position: absolute;
    width: 48px;
    height: 100%;

    text-align: center;
    font-size: 40px;

    // Disable selection.
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    line-height: initial;
    margin: 8px 0px;
}

.home-shift span {
    display: inline-block;
    line-height: inherit;
}

.home-shift:hover {
    cursor: pointer;
}

#shift-left {
    left: 0px;
    text-align: right;
}

#shift-right {
    right: 0px;
    text-align: left;
}

.home-byte {
    height: 100%;
    
    margin: 0px 48px;
    padding: 0px;

    display: flex;
    //flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    list-style-type: none;
    vertical-align: middle;
}

.home-byte li {
    overflow: hidden;
    height:100%;
    width: 100%;
    margin:auto;
}

.home-bit {
    position: relative;

    display: block;
    //width: 224px;
    //height: 224px;

    // Disable selection.
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    // Disable hyperlink underline.
    text-decoration: none;

    color:inherit;
    transition: 0.1s;

    margin-top: 8px;
    margin-bottom: 8px;;
}

.home-bit span{
    display: inline-block;
    width: 100%;
    height: 100%;

    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

//================================
// HOME-ANNOUNCEMENT
//================================
#home-announcement {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    box-sizing: border-box;
    border-style: solid;
    border-width: 4px;
    
    height: 64px;
}

#home-announcement ul {
    margin: 0px;
    padding: 4px 8px;
    list-style-type: none;
    //height: calc(100% - 4px * 2);
}

.home-alert {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0px;
    top: 0px;

    width: 100%;
    height: 100%;

    font-size: 2.4em;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

//================================
// HOME-BULLETIN
//================================
#home-bulletin {

    margin-top: 8px;
    margin-bottom: 8px;

    //background-color: rgb(24, 24, 24);
    height: calc(100% - (8px * 2) - (64px) - (32px + 8px));
    /*
    64px    : home-announcement.height
    8px(x2) : home-bulletin.marginTop and marginBottom

    */
}

#home-bulletin ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: normal;

    margin: 0px;
    padding: 0px;
    height: 100%;
    list-style-type: none;
}

#home-bulletin a {
    width: 49.5%;
    height: 30%;

    // Disable selection.
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    // Disable hyperlink underline.
    text-decoration: none;
}

#home-bulletin li {
    display: flex;
    align-items: center;

    height: 100%;
}

#home-bulletin span {
    display: inline-block;
    margin: 16px;
}

#home-archive {
    display: block;

    height: 32px;
    margin: 8px 0px;

    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

//================================
// HOME-MENU
//================================
#home #menu {
    display: block;
}

#home #menu-content {
    overflow-y: auto;
}

#home #menu-content .menu-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style-type: none;
}

#home #menu-content .logo {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px;
    background-color: rgb(24, 24, 24);
    border-radius: 0.5em;

    margin: 0px 4px;

    width: 88px;
    height: 88px;
}