//================================
// ARCHIVE
//================================
#archive {
    ul, ol {
        list-style-type: square;   
    }
}

#archive-content {
    width: calc(100% - (48px * 2));
    max-width: calc(1200px - (32px * 2));
    margin: {
        left: auto;
        right: auto;
    }
    padding: {
        left: 30px;
        right: 30px;
    }
}

#archive-caption {
    letter-spacing: 0.1em;
    text-align: left;
    font: {
        weight: bold;
        size: 1.0em;
    }

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#archive-tags {
    padding: 0 1.6em 1.6em 1.6em;
    border: {
        width: 4px;
        style: solid;
        radius: 24px;
    }

    code {
        font: {
            size: 32px;
            style: normal;
            weight: bold;
        }
    }
}

.archive-tag {
    margin: 0 8px;
    cursor: pointer;

    /* Disable selection. */
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /* Disable hyperlink underline. */
    text-decoration: none;
}

#archive-list {
    font-size: 24px;
    font-weight: bold;
    li {
        margin: {
            top: 8px;
            bottom: 24px;
        }
        section {
            font-weight: normal;
            border-top: {
                style: solid;
                width: 1px;
            }
        }
    }
}
