/*==============================================================================================================
>> NAVIGATION
==============================================================================================================*/
#navigation {
    padding: 10px 0px 6px 0px;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    position:fixed;
    width: 100%;
    top:0px;
}

#navigation a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
}

#navigation-logo, #navigation-url{
    height: 32px;
}

#navigation-logo a {
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-left: 16px;

    align-content: center;

    // Disable selection.
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#navigation-url a {
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-right: 16px;

    // Disable selection.
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;   
    -webkit-user-select: none;
}

/*==============================================================================================================
>> MENU
==============================================================================================================*/
#menu {
    visibility: hidden;
    position: fixed;
    width: 100%;
}

#menu-button {
    cursor: pointer;
    background-image: url("/assets/images/logo/logo-menu.png");
}

#menu-bkgd {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#menu-main {
    width: 64%;
    margin: auto;
    overflow: hidden;

    // Disable selection.
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#menu-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 64px;
    width: 90%;

    margin: 24px auto;
}

#menu-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 32px;

    margin-left: 16px;
}

#menu-select {
    height: 52px;
}

#menu-select a {
    display: inline-block;
    border-radius: 0.5em;
    width: 52px;
    height: 52px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;

    margin-top:auto;
    margin-bottom: auto;
    margin-right: 12px;
    cursor: pointer;
}

#menu-content {
    position: flex;

    width: 90%;
    height: 100%;
    margin: 24px auto;
}

/*==============================================================================================================
>> FOOTER
==============================================================================================================*/
#footer {
    background-color: black;
    position: relative;
    height: 24px;
    width: 100%;
    bottom: 0px;

    line-height: 24px;
}

#footer #copyright {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;

    width:100%;
    padding: 0px 15px 0px 15px;

    //@debug Disable selection.
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

/*==============================================================================================================
>> HIGHLIGTER-ROUGE
==============================================================================================================*/
.highlighter-rouge pre {
    padding: 0.5em 1em;
    overflow-x: auto;
}

.highlighter-rouge code {
    background-color: inherit;
    color: white;
    padding: 0px;
}