//================================
// HOME
//================================
#home-announce, #home-docs, #home-blog, #home-about {
    @include HFBkgdStyle;
}
#home {
    ul, ol {
        padding: 0;
    }

    li {
        list-style-type: none;
    }
}

#home-announce {
    #home-announce-notice {
        text-align: center;
        margin: 8px auto;
        padding: 0 1.6em;
        width: fit-content;
    
        ul, ol {
            width: fit-content;
            margin: 0;
            border: {
                style: double;
                width: 0px 0px;
            }
            font: {
                family: $TITLEFONT;
                weight: bold;
                size: 32px;
            }
        }
    
        li {
            padding: 12px 32px;
        }
    }
}

#home-blog {
    @include HFBkgdStyle;
    max-width: calc(100% - (48px * 2));
    display: flex;
    flex-direction: column;

    .home-blog-post {
        font: {
            family: $TITLEFONT;
            size: 24px;
            weight: bold;
        }
        border: {
            radius: 16px;
            style: solid;
            width: 4px;
        }
        width: calc(100% - 28px * 2);
        padding: 8px 24px;
        text-align: center;
        cursor: pointer;
    }

    #home-blog-post-more {
        &::after {
            content: " <<";
        }
        &::before {
            content: ">>    ";
        }
    }
}

#home-docs {
    border-radius: 32px;
    margin: {
        top: 16px;
        bottom: 16px;
    }
    padding: {
        top: 8px;
        bottom: 8px;
    }

    .home-docs-group {
        width: 96%;
        margin: 1em auto;
        border: {
            radius: 16px;
            style: solid;
            width: 4px;
        }
    }

    .home-docs-header {
        font-family: $TITLEFONT;;
        border-radius: 24px;
        text-align: center;

        padding: 0.2em;
        margin: 0.8em auto 0.4em auto;
        width: 96%;
        font: {
            weight: bold;
            size: 1.6em;
        }
    }

    .home-docs-tile {
        display: block;
        background: {
            size: 200px;
            repeat: no-repeat;
            position: center;
        }
        border-radius: 8px;
        height:256px;
        width: 256px;
        justify-content: center;

    }
    
    a {
        margin: 8px;
    }

    ul {
        width: calc(96% - 0.8em * 2);
        margin: 0.4em auto;
        display: flex;
        flex: {
            wrap: wrap;
            direction: row;
        }
        justify-content: center;
    }
}
