//==============================================================================================================
//>> TERMINAL
//==============================================================================================================
.terminal {
    min-width: 320px;
    font-family: $MONOSPACE;
    color: #cccccc;
}

.terminal-border {
    background-image: url(/assets/img/res/border-terminal.png);
    background-repeat: no-repeat;
    background-color: #333333;
    height: 36px;
}

.terminal-content {
    padding: 8px;
    background-color: #0C0C0C;
    height: fit-content;
    border: {
        bottom: solid #333333 1px;
        inline: {
            style: solid;
            color: #333333;
            width: 1px;
        }
    }
    word-break: break-all;
}

//==============================================================================================================
//>> TERMINAL
//==============================================================================================================
.notice {
    position: relative;
    float: right;
    width: 48px;
    height: 48px;

    margin-left: 8px;
    padding-top: 60px;
    background: {
        position: center;
        repeat: no-repeat;
        size: contain;
    }
}

#notice-redirected {
    background-image: url(/assets/img/res/icon-redirect.png), url(/assets/img/res/icon-redirect2.png);
}

#notice-expand {
    background-image: url(/assets/img/res/icon-alert.png), url(/assets/img/res/icon-alert2.png);
}

.notice-description {
    position: absolute;
    text-align: center;
    display: none;

    width: calc(100% - (48px * 2));
    max-width: calc(1200px - (24px * 2));
    margin: {
        left: auto;
        right: auto;
        top: 96px;
    }
    padding: {
        top: 8px;
        bottom: 8px;
    }
    
    font: {
        size: 24px;
        weight: bold;
    }
}
