#default-content {
    display: block;

    max-width: calc(1200px - (30px * 2));
    margin-left: auto;
    margin-right: auto;

    padding-left: 30px;
    padding-right: 30px;

    background-color: white;
    overflow: auto;
}


/*==============================================================================================================
>> DEFAULT
==============================================================================================================*/
#default-header {
    background-color: white;
    height: 25vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow: hidden;
    width:100%;
}

#default-header #default-title {
    display: block;
    font-size: 64px;

    margin-top:auto;
    margin-bottom:auto;

    text-align: center;

    font-weight: bold;
    font-family: monospace;
}

#default-header #default-title a {
    border: black solid 8px;
    font-size: 85.5px;

    color:black;
    font-weight: bold;
    font-family: monospace;

    // Disable selection.
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    // Disable hyperlink underline.
    text-decoration: none;

    // Letter affects right padding.
    letter-spacing: 10px;
    padding: 0px 0px 0px 10px;
}

#default-toc {
    position: fixed;
}

#default-toc span {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#default-main {
    display: block;
    flex: 1 0 auto;
}

#default-footer {
    background-color: white;
    position: relative;
    height: 5vh;
}

#default-footer #copyright {
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;

    bottom: 0px;
    position: absolute;

    background-color: black;
    
    padding: 5px 0px 5px 0px;

    width:100%;

    //@debug Disable selection.
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#default-footer #copyright span{
    padding: 0px 15px 0px 15px;
}

/*==============================================================================================================
>> NAVIGATION
==============================================================================================================*/
#navigation {
    padding: 10px 0px 5px 0px;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    position:fixed;
    width: 100%;
    top:0px;
}

#navigation #navigation-logo {
    display: block;
    padding-left: 15px;
}

#navigation #navigation-url {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-right: 15px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

#navigation #navigation-url a {
    padding: 0px 0px 0px 20px;

    // Disable selection.
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    color: black;
    text-decoration: none;
}

/*==============================================================================================================
>> HOME
==============================================================================================================*/
#home-header {
    background-color: white;
    height: 25vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow: hidden;
}

#home-header #navigation{
    position: static;
    width: auto;
}

#home-header #home-title {
    display: block;
    font-size: 64px;

    margin-top:auto;
    margin-bottom:auto;

    text-align: center;

    font-weight: bold;
    font-family: monospace;
}

#home-header #home-title a {
    border: black solid 8px;
    font-size: 85.5px;

    color:black;
    font-weight: bold;
    font-family: monospace;

    // Disable selection.
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    // Disable hyperlink underline.
    text-decoration: none;

    // Letter affects right padding.
    letter-spacing: 10px;
    padding: 0px 0px 0px 10px;
}

#home-main {
    background-color: skyblue;
    position: relative;
    height: 70vh;
}

#home-main #home-aisle {
    position: absolute;
    z-index: 10;
    
    height: 5vh;
    width:100vw;
    top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    // Disable selection.
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 32px;
}

#home-main #home-aisle span {
    margin-top: auto;
    margin-bottom: auto;
}

#home-main #home-shelf {
    display: flex;
    flex-direction: row;

    margin: 0px;
    padding: 0px;

    width: 100vw;
    height: 100%;

    list-style-type: none;

    background-color: white;
    perspective: 500px;

    position: relative;
    overflow: hidden;
}

#home-main #home-shelf .home-book {
    display: block;

    margin-top:auto;
    margin-bottom: auto;

    border: solid black 5px;
    border-radius: 1em;

    // Disable selection.
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    // Disable hyperlink underline.
    text-decoration: none;
    
    background-color: white;

    position: absolute;

}

#home-main #home-shelf li {
    overflow: hidden;
    height:100%;
    width: 80%;
    margin:auto;

    color: black;
}

#home-main #home-shelf li p {
    font-family: sans-serif;
    font-size: 1.5em;
}

#home-main #home-shelf li h1 {
    font-family: sans-serif;
    font-size: 3em;
}