//==============================================================================================================
//>> DOCS
//==============================================================================================================
html {
    // LIGHT THEME
    img {
        border-color: #202020;
        background-color: #FFFFFF;
    }

    table {
        border-color: #404040;
    }
    
    th {
        border-color: #202020;
        border-bottom-color: #202020;
        background-color: #B0B0B0;
    }
    
    td {
        border-color: #606060;
    }

    tr {
        &:nth-child(odd) {
            background-color: #E0E0E0;
        }
    }

&:not(.style-scope)[dark] {
    // DARK THEME
    #docs-content, #post-content {
        img {
            border-color: #808080;
            background-color: #FFFFFF;
        }

        table {
            border-color: #808080;
        }
        
        th {
            border-color: #808080;
            border-bottom-color: #808080;
            background-color: #303030;
        }
        
        td {
            border-color: #C0C0C0;
        }

        tr {
            &:nth-child(odd) {
                background-color: #181818;
            }
        }
    }
}}
