//================================
// ARCHIVE
//================================
html {
    // LIGHT THEME
    #archive-tags {
        
    }

    #archive-list a {
        color: #000000;
    }

&:not(.style-scope)[dark] {
    // DARK THEME
    #archive-tags {
        border-color: #404040;
        background-color: #101010;

        code {
            color: #FFFFFF;
            background-color: #303030;
        }
    }

    #archive-list a {
        color: #FFFFFF;
    }

}}
