//==============================================================================================================
//>> NOTICE
//==============================================================================================================
html {
    // LIGHT THEME
    .notice {
        background-blend-mode: multiply;
    }

    #description-redirected {
        background-color: #4190B7;
    }

    #description-expand {
        background-color: #D8864B;
    }

&:not(.style-scope)[dark] {
    // DARK THEME
    .notice {
        background-blend-mode: normal;
    }

    #description-redirected {
        background-color: #4190B7;
    }

    #description-expand {
        background-color: #D8864B;
    }
}}

//==============================================================================================================
//>> TOC
//==============================================================================================================
html {
    // LIGHT THEME
    .toc-option {
        background-blend-mode: multiply;
    }

    #toc-button {
        background-color: #CCCCCC;  
        border-color: #808080;
    }

    #toc-container {
        background-color: rgba(234, 234, 234, 0.8);
    }

    #toc-main {
        background-color: #DDDDDD;
        border-color: #404040;
    }

    #toc-content {
        background-color: transparent;
    }

    #toc-options {
        background-color: #BBBBBB;
    }

&:not(.style-scope)[dark] {
    // DARK THEME
    .toc-option {
        background-blend-mode: normal;
    }
    
    #toc-button {
        background-color: #101010;  
        border-color: #808080;
    }

    #toc-container {
        background-color: rgba(16, 16, 16, 0.8);
    }

    #toc-main {
        background-color: #202020;
        border-color: #404040;
    }

    #toc-content {
        background-color: transparent;
    }

    #toc-options {
        background-color: #101010;
    }
}}