//==============================================================================================================
//>> DEFAULT
//==============================================================================================================
html {
    // LIGHT THEME
    body {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0); 
    }

    $HFLBkgdColor: #36AAF2 !global;
    header, footer {
        background-color: $HFLBkgdColor;
        color: inherit;
    }

    blockquote {
        background-color:rgb(240, 240, 240); 
        border-left-color: rgb(80, 80, 80); 
        color:rgb(64, 64, 64);

        a {
            color: rgb(0, 0, 0);
        }
    }

    code { 
        background-color: rgb(224, 224, 224); 
    }

    a {
        color: rgb(144, 144, 144);
    }

&:not(.style-scope)[dark] {
    // DARK THEME
    body {
        background-color: rgb(32, 32, 32);
        color: rgb(255, 255, 255); 
    }

    $HFDBkgdColor: #101010 !global;
    header, footer{
        background-color: $HFDBkgdColor;
        color: inherit;
    }

    blockquote {
        background-color: rgb(24, 24, 24); 
        border-left-color: rgb(224, 224, 224); 
        color: rgb(200, 200, 200);

        a {
            color: rgb(255, 255, 255);
        }
    }

    code { 
        background-color: rgb(48, 48, 48); 
    }

    .highlighter-rouge {
        code {
            background-color: transparent;
            color: white;
        }
    }

    a {
        color: rgb(192, 192, 192);
    }    
}}

//==============================================================================================================
//>> TOC
//==============================================================================================================
html {
    // LIGHT THEME


&:not(.style-scope)[dark] {
    // DARK THEME
    #toc-button {
        background-color: #303030;  
        border-color: #404040;
    }

    #toc-container {
        background-color: rgba(16, 16, 16, 0.8);
    }

    #toc-main {
        background-color: #202020;
        border-color: #404040;
    }

    #toc-content {
        background-color: transparent;
    }

    #toc-options {
        background-color: #101010;
    }
}}

//==============================================================================================================
//>> SCROLLBAR
//==============================================================================================================
::-webkit-scrollbar-track {       // track
    background: rgb(64, 64, 64);
}
  
::-webkit-scrollbar-thumb {       // thumb
    background: rgb(128, 128, 128);
}
  
::-webkit-scrollbar-thumb:hover { // thumb::hover
    //background: black;
}
