//================================
// BLOG
//================================
html {
    // LIGHT THEME
    #blog-tags {
        border-color: #808080   ;
        background-color: #E0E0E0;

        code {
            color: #000000;
            background-color: #CDCDCD;
        }
    }

    #blog-list a {
        color: #000000;
    }

    #comment-form {
        #comment-name, #comment-comment {
            border: black solid 2px;
        }
    }

&:not(.style-scope)[dark] {
    // DARK THEME
    #blog-tags {
        border-color: #404040;
        background-color: #101010;

        code {
            color: #FFFFFF;
            background-color: #303030;
        }
    }

    #blog-list a {
        color: #FFFFFF;
    }

    #comment-form {
        #comment-name, #comment-comment {
            border: initial;
        }
    }

}}
