---
layout: template
---
<body id="archive">
    {%- include header.html -%}
    <main id="archive-main">
        <div id="archive-content">
            <section id="archive-tags">
                <p id="archive-caption" style="font-weight: bold; font-size: 1.0em; letter-spacing: 0.1em; text-align: left; user-select: none;
                -ms-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none;">TAGS:</p>
                {% assign list = "" %}
                {%- for blog in site.blog -%}{%- for tag in blog.tags -%}
                    {%- assign list = list | append: " " | append: tag -%}
                {%- endfor -%}{%- endfor -%}
                {%- assign arr = list | split: " " -%}
                {%- assign set = arr | uniq | sort | join: " " | split: " " -%}
                {%- for item in set -%}
                    <a><code class="archive-tag">#{{item}}</code></a>
                {%- endfor -%}
            </section>

            <div>
                <ul id="archive-list" style="list-style-type:square">
                    {%- assign blogs = site.blog | reverse -%}
                    {%- for blog in blogs -%}
                    {%- assign index = blog.tags.size -%}
                    <li class='{%- if blog.tags.size > 0 -%}{%- for tag in blog.tags -%}
                        {%- if tag == blog.tags.first -%}{{ tag | prepend: "#" }}{%- else -%}{{ tag | prepend: " #" }}{%- endif -%}
                        {%- endfor -%}{%- endif -%}' style="margin: 0.5em 0;"><a href="{{ blog.url }}"><span>{{ blog.title }}</span></a>
                        {% if blog.tags.size > 0 %}
                        <br/><section style="font-size:medium; padding-left: 1em;">
                        {% for tag in blog.tags %}
                        <code>{{ tag }}</code>&nbsp;
                        {% endfor %}
                        </section>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
    </main>
    {%- include footer.html -%}
</body>
