---
layout: template
---
<div id="page">
  <article id="blog-sub" class="content">
    {% assign list = "" %}
    {%- for blog in site.blog -%}{%- for tag in blog.tags -%}
    {%- assign list = list | append: " " | append: tag -%}
    {%- endfor -%}{%- endfor -%}
    {%- assign arr = list | split: " " -%}
    {%- assign set = arr | uniq | sort | join: " " | split: " " -%}
    <ul id="blog-tags">
      {%- for item in set -%}
      <li><code class="blog-tag">#{{item}}</code></li>
      {%- endfor -%}
    </ul>
  </article>
</div>

<div id="blog-content">
  <ul id="blog-posts">
    {%- assign blogs = site.blog | sort: "date" | reverse -%}
    {%- for blog in blogs -%}
    {%- assign index = blog.tags.size -%}
    <li class='{%- if blog.tags.size > 0 -%}{%- for tag in blog.tags -%}
      {%- if tag == blog.tags.first -%}{{ tag | prepend: "#" }}{%- else -%}{{ tag | prepend: " #" }}{%- endif -%}
      {%- endfor -%}{%- endif -%}'>
      <span class="blog-date"> {{ blog.date | date: "%Y.%m.%d" }} </span>
      <a class="blog-post" href="{{ blog.url }}">{{ blog.title }}</a>
      {% if blog.tags.size > 0 %}
      <section style="font-size:medium; padding: 0px 8px;">
        {% for tag in blog.tags %}
        <code style="margin: 0px 4px">#{{ tag }}</code>
        {% endfor %}
      </section>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
