---
layout: template
---
<section id="blog-tags">
  <p id="blog-caption">TAGS:</p>
  {% assign list = "" %}
  {%- for blog in site.blog -%}{%- for tag in blog.tags -%}
  {%- assign list = list | append: " " | append: tag -%}
  {%- endfor -%}{%- endfor -%}
  {%- assign arr = list | split: " " -%}
  {%- assign set = arr | uniq | sort | join: " " | split: " " -%}
  <ul>
    {%- for item in set -%}
    <li><code class="blog-tag">#{{item}}</code></li>
    {%- endfor -%}
  </ul>
</section>
{{ content }}
<div id="blog-posts">
  <ul id="blog-list">
  {%- assign blogs = site.blog | sort: "order" | reverse -%}
  {%- for blog in blogs -%}
  {%- assign index = blog.tags.size -%}
  <li class='{%- if blog.tags.size > 0 -%}{%- for tag in blog.tags -%}
    {%- if tag == blog.tags.first -%}{{ tag | prepend: "#" }}{%- else -%}{{ tag | prepend: " #" }}{%- endif -%}
    {%- endfor -%}{%- endif -%}'><a href="{{ blog.url }}"><span>{{ blog.title }}</span></a>
    {% if blog.tags.size > 0 %}
    <br/><section style="font-size:medium; padding-left: 1em;">
    {% for tag in blog.tags %}
    <code>{{ tag }}</code>&nbsp;
    {% endfor %}
    </section>
    {% endif %}
  </li>
  {% endfor %}
  </ul>
</div>
