---
layout: template
---
{% if page.toc != false %}
{%- include toc.html -%}
{% endif %}
<section id="page">
  <article id="content" class="docs-content">
    {{ content }}
  </article>
</section>
{%- assign listRelated = site.blog | where: "language", page.language | where: "tags", page.meta | sort: "order" | reverse -%}
{%- if page.meta != nil and listRelated.size > 0 -%}
<div id="docs-related">
  <h1 id="docs-related-header"></h1>
  <ul style="list-style-type: square">
    {%- for related in listRelated -%}
    <li><a href="{{ related.url }}"><span>{{ related.title }}</span></a></li>
    {%- endfor -%}
  </ul>
</div>
{%- endif -%}
