---
layout: template
---
{% if page.toc != false %}
<aside id="docs-mask">
  <div id="docs-menu">
    <section id="docs-toc">
    </section>
    <section id="docs-sub">
      <a class="sub-button" id="sub-related" title="See Also" tabindex="-1"></a>
      <a class="sub-button" id="sub-source" title="View Source" tabindex="-1"></a>
    </section>
  </div>
</aside>
{% endif %}
<div id="page">
  <article id="docs-content" class="content" >
    {{ content }}
  </article>
</div>
<!--
{%- assign listRelated = site.blog | where: "language", page.language | where: "tags", page.meta | sort: "order" | reverse -%}
{%- if page.meta != nil and listRelated.size > 0 -%}
<div id="docs-related">
  <h1 id="docs-related-header"></h1>
  <ul style="list-style-type: square">
    {%- for related in listRelated -%}
    <li><a href="{{ related.url }}"><span>{{ related.title }}</span></a></li>
    {%- endfor -%}
  </ul>
</div>
{%- endif -%}
-->