---
layout: template
---
<body id="home">
    <!-- HEADER -->
    {%- include .header.html -%}
    <!-- MAIN -->
    <main id="home-main">
        <div id="home-upper">
            <div id="home-register">
                <div class="home-shift" id="shift-left"><span>&#x25c0;</span></div>
                <div class="home-shift" id="shift-right"><span>&#x25b6;</span></div>
                <!-- PROGRAMMING -->
                <ul class="home-byte">
                    {% assign programmings = site.docs | where: "category", "Programming" | where: "lang", "ko" | sort:"order" %}
                    {% for programming in programmings %}
                    <a class="home-bit" href="{{ programming.url }}" title="{{ programming.title }}">
                        <li>
                            <span style="background-image:url('{{ programming.logo }}')"></span>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
                <!-- LIBRARY -->
                <ul class="home-byte">
                    {% assign libraries = site.docs | where: "category", "Library" | where: "lang", "ko" | sort:"order" %}
                    {% for library in libraries %}
                    <a class="home-bit" href="{{ library.url }}" title="{{ library.title }}">
                        <li>
                            <span style="background-image:url('{{ library.logo }}')"></span>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="home-lower">
            <!-- ANNOUNCEMENT -->
            <div id="home-announcement">
                <div class="home-alert" style="visibility: hidden;"></div>
                {{ content }}
            </div>
            <!-- POSTS -->
            <div id="home-bulletin">
                <ul>
                    {% for post in site.posts limit:6 %}
                    <a href="{{ post.url }}">
                        <li>
                            <span>{{ post.title }}</span>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
                <a href="./archive.html">
                    <div id="home-archive"></div>
                </a>
            </div>
        </div>
    </main>
    <!-- FOOTER -->
    {%- include .footer.html -%}
    <!-- MENU -->
    {%- include .menu.html -%}
</body>
<script type="text/javascript" src="{{ '/assets/js/home-config.js' | relative_url }}"></script>