---
layout: template
---
<body id="home">
    <!-- HEADER -->
    {%- include header.html -%}
    <!-- MAIN -->
    <main id="home-main">
        <div id="home-content">
        <!--ANNOUNCEMENT-->
        <div id="home-announce">
            <div id="home-announce-notice">
                {{ content }}
            </div>
        </div>
        <!--ANNOUNCE-->
        <div id="home-blog">
            <a class="home-blog-button" id="home-blog-about" href="about">About</a>
            <a class="home-blog-button" id="home-blog-post" href="blog">Blog</a>
            <a class="home-blog-button" id="home-blog-repo" href="repo">Repository</a>
        </div>
        <!--DOCS-->
        <div id="home-docs">
            {%- assign listDocs = "" -%}
            {%- for document in site.docs -%}
                {%- assign listDocs = listDocs | append: " " | append: document.category -%}
            {%- endfor -%}
                {%- assign arrDocs = listDocs | split: " " -%}
                {%- assign setDocs = arrDocs | uniq | sort | join: " " | split: " " | reverse -%}
            {%- for group in setDocs -%}
                <div class="home-docs-group">
                    <section class="home-docs-header">{{group}}</section>
                    {%- assign docs = site.docs | where: "category", group | sort: "order" -%}
                    <ul>
                    {%- for doc in docs -%}
                        <a href="{{ doc.url }}" title="{{ doc.title }}"><li class="home-docs-tile" style="background-image:url('{{ doc.logo }}')"></li></a>
                    {%- endfor -%}
                    </ul>
                </div>
            {%- endfor -%}
        </div>
        </div>
        <!--FOOTER-->
        {%- include footer.html -%}
    </main>
</body>
