<!DOCTYPE html>
<html lang="{{ page.lang |default: site.lang | default: 'en' }}">

    {%- include head.html -%}

    <body>

        <!-- HEADER -->
        <header class="home-header"> 
            <nav class="home-nav">
                <div class="home-logo">
                    <a href="{{ '/' | relative_url }}"><img src="/assets/images/logo-ghpages.png" width="38px" height="38px"></a>
                </div>
                <div class="home-tabs">
                    <a href="{{ '/about' }}">ABOUT</a>
                </div>
            </nav>
            <div class="home-title">
                <a href="{{ '/' | relative_url }}"> {{ site.github_username | escape }} </a>
            </div>
        </header>

        <!-- MAIN -->
        <main class="home-main">

            <!-- MAIN::PROGRAMMING -->
            <div class="home-programming">
                <div class="home-programming-header">
                    <h1>PROGRAMMING</h1>
                </div>
                <ul class="home-programming-list">
                    {% assign programmings = site.articles | where: "category", "Programming" %}
                    {% for programming in programmings %}
                    <a class="home-programming-cell" href="{{ programming.url }}">
                        <li>
                            <h1>
                                {{ programming.name }}
                            </h1>
                            <p>
                                {{ programming.description }}
                            </p>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>

            <!-- MAIN::LIBRARY -->
            <div class="home-library">



            </div>

        </main>
        
        <!-- FOOTER -->
        <footer class="home-footer">
            <div class="home-footer-text">
                <span>Copyright (C) 2020 Gihwan Ko</span>
            </div>
            <div class="home-footer-logo">
                <a href="https://github.com/GKO95"><img src="/assets/images/logo-github.png" width="38px" height="38px"></a>
                <a href="https://blog.naver.com/acft"><img src="/assets/images/logo-naver.png" width="38px" height="38px"></a>    
            </div>
        </footer>

    </body>
</html>