---
layout: template
---
<body id="post">
    {%- include .header.html -%}
    <main id="post-main">
        <div id="post-content">
            {{ content }}
            {% if page.edited or page.tags.size > 0 %}
				<div style="text-align: right; margin-block-start: 1em; margin-block-end: 1em; 
					user-select: none;
					-ms-user-select: none;
					-moz-user-select: none;
					-khtml-user-select: none;
                    -webkit-user-select: none;">
                    {% if page.tags.size > 0 %}
                    {% case page.lang %}
                        {% when "ko" %}
                        <span>태그: </span>
						{% else %}
                        <span>Tags: </span>
                    {% endcase %}
                    {% for tag in page.tags %}
                    <a href="/archive.html#{{tag}}">
                        <code class="post-tags">#{{ tag }}</code>
                    </a>
                    {% endfor %}
                    {% endif %}
                    {% if page.edited and page.tags.size > 0 %}<br/>{% endif %}
                    {% if page.edited %}
                    <p style="font-size: small;">{% case page.lang %}{% when "ko" %}마지막 편집: {% else %}Last edited: {% endcase %}{{ page.edited }}</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </main>
    {%- include .footer.html -%}
    {%- include .menu.html -%}
</body>
<script>const __PAGENAME__ = "{{page.name}}"; const __CATEGORY__ = "{{page.category}}"; const __LANGUAGE__ = "{{page.lang}}";</script>
<script type="text/javascript" src="{{ '/assets/js/post-config.js' | relative_url }}"></script>